{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>E-Learning</title>
    <link href="{% static 'account.css' %}" rel="stylesheet" type="text/css">
</head>

<body> {# TODO: edit layout, fix margins #}
<form class="login-form" action="/" method="post">
    {% csrf_token %}
    <div class="headers">
        {% if account_type == "public" %}
            <h2>E-Learning Public Site</h2>
        {% elif account_type == "corporate" %}
            <h2>E-Learning Corporate Site</h2>
        {% endif %}
        <h3>Create Account</h3>
    </div>
    <div class="inputs">
        <table id="form_table"> {# TODO: Check form is layed out properly #}
            {{ form.as_table }}
        </table>
        {% if account_type == "public" %}
        <script type="text/javascript">
            document.getElementById("form_table").rows[6].style.display = "None";
        </script>
        {% endif %}
        <button type="submit" class="form-button">Create Account</button>
        {% block error %}{% endblock %}
    </div>
</form>
</body>
</html>
