{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>E-Learning</title>
    <link href="{% static 'login.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Raleway" rel="stylesheet">
</head>

<body> {# TODO: edit layout, fix margins #}
<form class="login-form" action="/" method="post">
    {% csrf_token %}
    <div class="headers">
        <h2>E-Learning Public Site</h2>
        <h3>Log In</h3>
    </div>
    <div class="inputs">
        {{ form }} {# TODO: Check form is layed out properly #}
        <script>document.getElementById("id_password").type = "password";</script>
        <button type="submit" class="form-button">LOGIN</button>
        {% if account_type == "public" %}
            <a href="/account/public">Create Account</a>
        {% elif account_type == "corporate" %}
            <a href="/account/corporate">Create Account</a>
        {% else %}
            <p>Contact administrators for a manager account</p>
        {% endif %}
        {# TODO: Add block for reset password #}
        {% block error %}{% endblock %}
    </div>
</form>
</body>
</html>
